


button{
    background-color:#f01010f5;
    border: 1rem;
    padding: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    color: #ffffff ;
    font-weight: 600;
    font-size: 1rem;
    border-radius: 0.5rem;
   box-shadow: 0.2rem 0.2rem 1rem #1f1a1a;
   margin-top: 5rem;
   width: 25vw;
   height: 30vh;
   margin-left: 2rem;
}
button.btn-0{
   width: 10rem;
   height: 3rem;
}



h1{
   background-color: #33e1e4;
   width: 40%;
   height:40%;
  

}

